<div class="section columns">
  <h1 class="title">All Customers</h1>

  <div class="column">
    <h1 class="title is-3"></h1>
    <%= image_tag(, alt: customer.name, size:"400x600") %>
    <p><strong>Province: </strong><%= customer %></p>
    <p><%= customer.phone_number %></p>
    <p><%= customer.email %></p>



</div>